.banner {
    justify-content: center;
    height: 90vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .overlay {
    opacity: 0.6;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner h1,
.banner p {
    text-align: left;
    width: 60%;
}

.banner .btn-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.banner .btn-wrapper a {
    color: var(--white);
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.4;
    transition: var(--transition);
}

.dots .dot:hover {
    cursor: pointer;
}

.dots .dot.active {
    opacity: 1;
    transition: var(--transition);
}

.section .image-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.section .image-wrapper .item {
    flex: 1 0 40%;
}

.section .image-wrapper .item img {
    width: 100%;
}

.section .sustainability-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section .sustainability-wrapper .item {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--white);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}

.image-wrapper .item,
.image-wrapper .item .content,
.image-wrapper .item img,
.image-wrapper .item .overlay {
    border-radius: var(--borderRadius);
}

.image-wrapper .item {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image-wrapper .item .content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-wrapper .item .content h3 {
    color: var(--white);
    font-size: 24px;
    text-align: center;
}

.image-wrapper .item .content a {
    color: var(--white);
    text-align: center;
}

.image-wrapper .item .overlay {
    opacity: 0;
    background-color: var(--primary);
    transition: var(--transition);
}

.image-wrapper .item:hover .overlay {
    opacity: 1;
    transition: var(--transition);
}

.image-wrapper .item:hover .content {
    display: flex;
}

.rooms-wrapper .item {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    transition: var(--transition);
}

.rooms-wrapper .item:hover {
    color: var(--white);
    background-color: var(--primary);
    transition: var(--transition);
}

.rooms-wrapper .item:hover h3 {
    color: var(--white);
    transition: var(--transition);
}

.rooms-wrapper .item img {
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
}

.rooms-wrapper .item .content {
    padding: 20px;
}

.rooms-wrapper .item h3 {
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 560px) {
    .banner.section,
    .banner.section .row {
        height: 50vh;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }

    .form-wrapper {
        padding: 0;
    }

    .section .sustainability-wrapper .item {
        flex: 1 0 100%;
    }
}