.banner.section {
    justify-content: center;
    height: 50vh;
    min-height: 50vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner.section,
.banner.section .row {
    min-height: 50vh;
}

.banner .overlay {
    opacity: 0.6;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.activities-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.activities-wrapper .item {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    border-radius: var(--borderRadius);
    background-color: var(--white);
    transition: var(--transition);
}

.activities-wrapper .item:hover {
    color: var(--white);
    background-color: var(--primary);
    transition: var(--transition);
}

.activities-wrapper .item:hover a {
    color: var(--white);
    transition: var(--transition);
}

.activities-wrapper .item .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.activities-wrapper .item img {
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
}

.activities-wrapper .item .content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.activities-wrapper .item .content a {
    margin-top: 20px;
}

@media (max-width: 560px) {
    .activities-wrapper .item {
        flex: 1 0 100%;
    }
}